@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DevCloud Reporter</title>
    @Html.Raw(JavaScriptSnippet.FullScript)
    
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/devextreme/css/dx.common.css" />
    <link rel="stylesheet" href="~/lib/devextreme/css/dx.light.css" />
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/themes/ui-lightness/jquery-ui.css"
          asp-fallback-href="~/lib/jquery-ui/themes/base/jquery-ui.min.css"
          asp-fallback-test-class="ui-resizable" asp-fallback-test-property="position" asp-fallback-test-value="relative" />

    <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/jquery-ui.js" asp-fallback-src="~/lib/jquery-ui/jquery-ui.js" asp-fallback-test="window.jQuery.ui"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/knockout/knockout-3.4.0.js" asp-fallback-src="~/lib/knockout/dist/knockout.js" asp-fallback-test="window.ko"></script>

    <link rel="stylesheet" type="text/css" href="~/lib/jquery-ui/themes/base/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/jquery-ui/themes/base/resizable.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/jquery-ui/themes/base/draggable.css" />

    <script src="~/lib/jquery-ui/jquery-ui.js"></script>
    <script src="~/lib/knockout/dist/knockout.debug.js"></script>

    <script src="~/lib/cldrjs/dist/cldr.js"></script>
    <script src="~/lib/cldrjs/dist/cldr/event.js"></script>
    <script src="~/lib/cldrjs/dist/cldr/supplemental.js"></script>
    <script src="~/lib/cldrjs/dist/cldr/unresolved.js"></script>
    <script src="~/lib/globalize/dist/globalize.js"></script>
    <script src="~/lib/globalize/dist/globalize/currency.js"></script>
    <script src="~/lib/globalize/dist/globalize/message.js"></script>
    <script src="~/lib/globalize/dist/globalize/number.js"></script>
    <script src="~/lib/globalize/dist/globalize/date.js"></script>

    <script src="~/lib/devextreme/js/dx.all.js"></script>
    <script src="~/lib/ace-builds/src/ext-language_tools.js" type="text/javascript"></script>
    <script src="~/lib/xtrareportsjs/js/dx-designer.js" type="text/javascript"></script>

    <link href="~/lib/devextreme/css/dx.common.css" rel="stylesheet" />
    <link href="~/lib/devextreme/css/dx.light.css" rel="stylesheet" />
    @RenderSection("pageStuff", false)
    
    <link href="~/css/site.css" rel="stylesheet"  />
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Reporting Sample</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Report List</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - DevExpressASPNETCoreReporting</p>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
